
.input__wrapper--tabs-labels{
	margin-top: 0;
	@media (--medium-viewport){
		margin-top: 30px;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
	}	
	@media (--large-viewport){
		justify-content: flex-start;
		border-bottom: 1px solid;
		border-color: color(#000000 alpha(20%));		
	}
}

