footer.footer.page__footer
	.wrapper.page__wrapper
		.footer__holder
			.logo.footer__logo
				a.link(href="index.html")
					svg.icon.icon--active.icon--logo-full-white
						use(xlink:href="../images/sprite.svg#logo-full-white")
			ul.list.nav.footer__menu-list
				li.list__item
					.nav__item
						a.link(href="inner.html")
							| Информация
					ul.list
						li.list__item
							.nav__item
								a.link(href="about.html")
									| О компании
						li.list__item
							.nav__item
								//-category.html
								a.link(href="#")
									| Каталог
						li.list__item
							.nav__item
								a.link(href="inner.html")
									| Партнеры
						li.list__item
							.nav__item
								a.link(href="inner.html")
									| Оптовикам
						li.list__item
							.nav__item
								a.link(href="about.html")
									| Контакты
				li.list__item
					.nav__item
						//-category.html
						a.link(href="#")
							| Каталог
					ul.list
						li.list__item
							.nav__item
								a.link(href="bars.html")
									| Батончики
						li.list__item
							.nav__item
								a.link(href="lollipops.html")
									| Леденцы
						li.list__item
							.nav__item
								a.link(href="gums.html")
									| Жвачка
						li.list__item
							.nav__item
								a.link(href="stm.html")
									| СТМ
			.info.footer__info
				a.link.info__phone(href="tel:+74959897431")
					| +7 495 989-7431
				a.link.info__email(href="mailto:sale@avilor.ru")
					| sale@avilor.ru
				.info__adress
					span
						| улица Калининградская, 12 
					span
						| Королёв, Россия, 124125
		.footer__copyright
			| © 2017 «Авилор» .  Производитель и поставщик здорового и диетического питания.
script(src="../js/vendors/jquery-3.2.1.min.js")
script(src="../js/vendors/chosen.jquery.js")
script(src="../js/vendors/swiper.min.js")
script(src="../js/vendors/lightbox.min.js")
script(src="../js/vendors/rellax.min.js")
script(src="../js/app.js")