- function pDate() {return Math.trunc(new Date().getTime()/10000);}
head
	title Zagorskoe
	link(rel="stylesheet", href="../css/style.css?ver=" + pDate())
	link(rel="shortcut icon", type="image/png", href="../images/favicon.png")
	meta(charset='utf-8')
	meta(name="viewport", content="minimal-ui, width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
	meta(name="mobile-web-app-capable", content="yes")
	meta(name="apple-mobile-web-app-capable", content="yes")
	//-
		link(href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700&amp;subset=cyrillic,cyrillic-ext", rel="stylesheet")
	if config.images.generateSpritePng
		link(rel="stylesheet", href="../css/sprite.css")