header.header.page__header
	.wrapper.page__wrapper
		.header__content
			.header__top
				.header__sitename
					span
						| Селекционно-генетический центр
					strong
						| «Загорское ЭПХ»
				.header__info
					a.info__item.info__phone(href="tel:+74965461920")
						svg.icon.icon--active.icon--phone
							use(xlink:href="../images/sprite.svg#phone")
						span
							| +7 496 546-19-20
					a.info__item.info__email(href="mailto:a89265594669@rambler.ru")
						svg.icon.icon--active.icon--email
							use(xlink:href="../images/sprite.svg#email")
						span
							| a89265594669@rambler.ru
			.header__bottom
				a.header__logo(href="index.html")
					img.img(src="../images/header-logo.png", alt="logo")
				input(type="checkbox", id="header-menu-toggle")
				label.btn.btn--header-toggle(for="header-menu-toggle")
					span
					span
					span
				nav.header__nav
					.nav__wrapper.scroll--cutt
						ul.list
							li.list__item.item--expanded.item--active-trail
								.nav__item
									a.link(href="catalog.html")
										| Продукция
									button.btn.btn--clr
										svg.icon.icon--active.icon--chewron-down
											use(xlink:href="../images/sprite.svg#chewron-down")
								include products_nav.pug
							li.list__item
								.nav__item
									a.link(href="#")
										| Научная деятельность
							li.list__item
								.nav__item
									a.link(href="gallery.html")
										| Галерея
						ul.list
							li.list__item
								.nav__item
									a.link(href="news.html")
										| Новости
							li.list__item
								.nav__item
									a.link(href="#")
										| Гос закупки
							li.list__item
								.nav__item
									a.link(href="contacts.html")
										| Контакты		