ul.list
	li.list__item
		.nav__item
			a.link(href="catalog-4.html")
				| Племенная продукция
			button.btn.btn--clr
				svg.icon.icon--active.icon--chewron-down
					use(xlink:href="../images/sprite.svg#chewron-down")
		ul.list
			li.list__item
				.nav__item
					a.link(href="cross.html")
						| Кросс «Хайсекс Белый»
			li.list__item
				.nav__item
					a.link(href="cross.html")
						| Кросс «СП 798»
	li.list__item
		.nav__item
			a.link(href="eggs.html")
				| Яйцо пищевое
	li.list__item.item--expanded.item--active-trail
		.nav__item
			a.link(href="catalog-2.html")
				| Коллекционные стада
			button.btn.btn--clr
				svg.icon.icon--active.icon--chewron-down
					use(xlink:href="../images/sprite.svg#chewron-down")
		ul.list
			li.list__item.item--expanded.item--active-trail
				.nav__item
					a.link(href="catalog-3.html")
						| Куры
					button.btn.btn--clr
						svg.icon.icon--active.icon--chewron-down
							use(xlink:href="../images/sprite.svg#chewron-down")
				ul.list
					li.list__item
						.nav__item
							a.link(href="chicken.html")
								| Ереванская красная
					li.list__item
						.nav__item
							a.link(href="chicken.html")
								| Загорская лососевая
					li.list__item.item--active-trail
						.nav__item
							a.link(href="chicken.html")
								| Итальянская куропатчатая
					li.list__item
						.nav__item
							a.link(href="chicken.html")
								| Киргизская  серая
					li.list__item
						.nav__item
							a.link(href="chicken.html")
								| Котляревская
					li.list__item
						.nav__item
							a.link(href="chicken.html")
								| Кохинхин
					li.list__item
						.nav__item
							a.link(href="chicken.html")
								| Кохинхин карликовый
					li.list__item
						.nav__item
							a.link(href="chicken.html")
								| Красная белохвостая
					li.list__item
						.nav__item
							a.link(href="chicken.html")
								| Куланги
					li.list__item
						.nav__item
							a.link(href="chicken.html")
								| Курчавая
					li.list__item
						.nav__item
							a.link(href="chicken.html")
								| Кучинская юбилейная
					li.list__item
						.nav__item
							a.link(href="chicken.html")
								| Ленинградская белая
					li.list__item
						.nav__item
							a.link(href="chicken.html")
								| Загорская  ситцевая
			li.list__item
				.nav__item
					a.link(href="catalog-3.html")
						| Цесарки
					button.btn.btn--clr
						svg.icon.icon--active.icon--chewron-down
							use(xlink:href="../images/sprite.svg#chewron-down")
			li.list__item
				.nav__item
					a.link(href="catalog-3.html")
						| Перепела
					button.btn.btn--clr
						svg.icon.icon--active.icon--chewron-down
							use(xlink:href="../images/sprite.svg#chewron-down")