
.gallery--docs{
	width: 100%;
	& .gallery__items{
		width: 100%;
	}
	& .gallery__item{
		max-width: calc( (var(--wrapper-max) - var(--blog-gap) - var(--aside-max-width))/3 -35px );
		margin-right: 30px;
		margin-bottom: 15px;
		display: inline-block;
		vertical-align: top;
		&:hover{
			& .item__pic{
				box-shadow: none;
			}
			& .item__title{
				color: inherit;
			}
		}		
		& .item__pic{
			&::before{
				display: none;
			}
		}		
	}
}


