
.article__pic{
	border-radius: var(--img-border-rad);
	overflow:  hidden;
	margin-bottom: 18px;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	&::before{
		content: '';
		display: inline-block;
		padding-top: 55%;
	}
	& .img{
		display: block;
	}
}

