
.slider{
	& .swiper-button-prev, 
	& .swiper-button-next{
		background-image: none;
		margin-top: 0;
		transform: translateY(-50%);
	}
	& .swiper-button-prev{
		left: 0;
	} 
	& .swiper-button-next{
		right: 0;
	}
	& .swiper-button-prev, 
	& .swiper-button-next{
		width: auto;
		height: auto;
		min-width: 44px;
		min-height: 44px;
		display: flex;
		align-items: center;
	}
	& .swiper-button-prev{ 
		justify-content: flex-start;
	}
	& .swiper-button-next{
		justify-content: flex-end;
	}
}

