include ./mixins.pug
doctype html
html(lang="ru")
	+head('Коллекционный стада')
	body.page
		.page__body
			include partials/header.pug
			main.main.page__main
				.page__wrapper
					ul.list.breadcrumbs
						li.list__item.breadcrumbs__item
							a.link(href="catalog.html")
								| Каталог
						li.list__item.breadcrumbs__item
							a.link(href="catalog-2.html")
								| Коллекционный стада
					h2.page__title
						| Коллекционный стада
					.blog
						.blog__content
							.catalog
								.catalog__items
									a.catalog__item(href="catalog-3.html")
										span.item__pic
											img.img(src="../images/catalog-2-1.jpg", alt="catalog item" data-bg="true")
										span.item__title
											| Куры
									a.catalog__item(href="catalog-3.html")
										span.item__pic
											img.img(src="../images/catalog-2-2.jpg", alt="catalog item" data-bg="true")
										span.item__title
											| Цесарки
									a.catalog__item(href="catalog-3.html")
										span.item__pic
											img.img(src="../images/catalog-2-3.jpg", alt="catalog item" data-bg="true")
										span.item__title
											| Перепела
						aside.blog__aside
							.aside__nav
								.nav__wrapper
									include partials/products_nav.pug
			include partials/footer.pug