include ./mixins.pug
doctype html
html(lang="ru")
	+head('Брама желтая колумбийская')
	body.page
		.page__body
			include partials/header.pug
			main.main.page__main
				.page__wrapper
					ul.list.breadcrumbs
						li.list__item.breadcrumbs__item
							a.link(href="catalog.html")
								| Каталог
						li.list__item.breadcrumbs__item
							a.link(href="catalog-2.html")
								| Коллекционные стада
						li.list__item.breadcrumbs__item
							a.link(href="catalog-3.html")
								| Куры
					h2.page__title
						| Брама желтая колумбийская
					.blog
						.blog__content
							img.img(src="../images/blog-2.jpg", alt="chicken")
							p
								table.table--info.float--right
									thead
										tr
											td
												| Характеристики
											td
									tbody
										tr
											td
												| Живая масса, кг 
											td
												| 2,6—3,7 
										tr
											td
												| Яйценоскость, шт 
											td
												| 3,5—4,0 
										tr
											td
												| Масса яйца, г
											td
												| 130—150
												br
												| 57—60
								| Декоративная порода,  разводимая в крестьянских дворах. Отличительной особенностью петухов является склонность к лидерству по отношению вообще к петухам любой породы, драчливость, жертвенное оберегание своего гнезда. Отличительная особенность курочек – способность к неоднократному насиживанию в течение сезона: до трех раз.
							p
								| У птицы бентамочья карликовость, листовидный гребень,  красные ушные мочки, приподнятая грудь, полувертикальный постав туловища и   «беличий»  постав хвоста; оперение декоративное, трехцветное: сочетание белой и черной пятнистости на общем коричневатом фоне. У суточных цыплят окраска пуха от желтой до светло-палевой с видимостью рисунка на спине в форме незначительной черно-серой пятнистости или слабой прерывистой продольной полосатости. Окраска скорлупы яиц  от белой до кремовой.  При оптимальных условиях инкубации вывод из яиц наступает через 19,5-20 суток.
						aside.blog__aside
			include partials/footer.pug
