include ./mixins.pug
doctype html
html(lang="ru")
	include partials/head.pug
	body.page
		.page__body
			+header()
			main.main.page__main
				.page__wrapper
					.breadcrumbs
						a.breadcrumbs__item(href="#")
							| Контакты
					h2.page__title
						| Контактная информация
					.blog
						.blog__content
							.info
								.info__items
									.info__item
										.info__label
											| Телефон:
										a(href="tel:+74965461920")
											| +7 496 546-19-20 
									.info__item
										.info__label
											| Эл. почта:
										a(href="mailto:a89265594669@rambler.ru")
											| a89265594669@rambler.ru 
									.info__item
										.info__label
											| Адрес:
										| ул. Маслиева, д. 44
										br
										| г. Сергиев Посад, 141311
										br
										| Московская область
										br
										| Россия
								.info__map
									script(type="text/javascript", charset="utf-8", async, src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A62b40a9a32678525c80d51ff1aea494b2cf8bad30713beb8258478d6c2e16ad8&amp;width=500&amp;height=360&amp;lang=ru_RU&amp;scroll=true")
								.info__items
									.info__item
										.info__label
											| Директор 
										h6
											| Аншаков Дмитрий Вадимович
										a(href="tel:+74965461920")
											| +7 496 546-19-20
									.info__item
										.info__label
											| Главный бухгалтер
										h6
											| Шаршалина Юлия Александровна 
										a(href="tel:+74965461634")
											| +7 496 546-16-34
									.info__item
										.info__label
											| Главный зоотехник селекционер 
										h6
											| Исаева Надежда Константиновна
										a(href="tel:+74965516729")
											| +7 496 551-67-29
									.info__item
										.info__label
											| Отдел кадров
										a(href="tel:+74965461823")
											| +7 496 546-18-23
									.info__item
										.info__label
											| Отдел реализации
										a(href="tel:+74965461630")
											| +7 496 546-16-30
										a(href="tel:+79268000141")
											| +7 926 800-01-41									
			include partials/footer.pug
