include ./mixins.pug
doctype html
html(lang="ru")
	+head()
	body.page
		.page__body
			include partials/header.pug
			main.main.page__main
				section.section.section--full-width
					.section__content
						.slider--front
							.slider--front-pics
								.swiper-container
									.swiper-wrapper
										.swiper-slide 
											img.slider__img(src="../images/slide-1.jpg", alt="slide-1", data-bg="true")
										.swiper-slide 
											img.slider__img(src="../images/slide-2.jpg", alt="slide-2", data-bg="true")
										.swiper-slide 
											img.slider__img(src="../images/slide-1.jpg", alt="slide-3", data-bg="true")
							.page__wrapper
								.slider.slider--front-text
									.swiper-container
										.swiper-wrapper
											.swiper-slide 
												.slide__content
													h3
														| Экспериментальное хозяйство института — производственная база для проведения научных исследований, касающихся разведения птицы. 
											.swiper-slide 
												.slide__content
													h3
														| Экспериментальное хозяйство института — производственная база для проведения научных исследований, касающихся разведения птицы.
											.swiper-slide 
												.slide__content
													h3
														| Экспериментальное хозяйство института — производственная база для проведения научных исследований, касающихся разведения птицы.
										.swiper-pagination
										.swiper-button-prev
											svg.icon.icon--active.icon--arrow-left
												use(xlink:href="../images/sprite.svg#arrow-left")
										.swiper-button-next
											svg.icon.icon--active.icon--arrow-right
												use(xlink:href="../images/sprite.svg#arrow-right")
				.page__wrapper
					.blog
						.blog__content
							.input__wrapper--tabs
								input.input(type="radio", name="tabs", id="tab-1" data-tab="1" checked)
								label.input__label(for="tab-1")
									span
										| О хозяйстве
									svg.icon.icon--active.icon--chewron-down
										use(xlink:href="../images/sprite.svg#chewron-down")
								.input__content(data-tab="1")
									h6
										| Селекционная работа в хозяйстве началась с первых месяцев основания института – в 1930 г.  Из-за рубежа были завезены для размножения куры разных пород, и в 1953 году в стаде уже насчитывалось около 10 тысяч высокопродуктивных несушек. 
									p
										| Еще в довоенные годы хозяйство было постоянным участником ВСХВ и удостаивалось различных наград. В тяжелые для страны военные годы работники ЭПХ сумели сохранить резервный генофонд птицы, а в дальнейшем регулярно пополняли его. 
									p
										| Экспериментальная база института стала настоящим полигоном для проведения научно-исследовательских работ и апробации законченных разработок-способов содержания птицы, ее кормления, приемов и методов селекции.
								input.input(type="radio", name="tabs", id="tab-2" data-tab="2" )
								label.input__label(for="tab-2")
									span
										| Документы
									svg.icon.icon--active.icon--chewron-down
										use(xlink:href="../images/sprite.svg#chewron-down")
								.input__content(data-tab="2")
									.gallery--docs
										.gallery__items
											.gallery__item
												a.item__pic(href="../images/docs-1.png", data-lightbox="docs")
													img.img(src="../images/docs-1.png", alt="")
											.gallery__item
												a.item__pic(href="../images/docs-2.png", data-lightbox="docs")
													img.img(src="../images/docs-2.png", alt="")
									p
										| Свидетельства о регистрации в<br> государственном племенном регистре
								input.input(type="radio", name="tabs", id="tab-3" data-tab="3" )
								label.input__label(for="tab-3")
									span
										| Награды
									svg.icon.icon--active.icon--chewron-down
										use(xlink:href="../images/sprite.svg#chewron-down")
								.input__content(data-tab="3")
									p
										| Предприятий неоднократно награжденено<br> почётными граммотами и наградами
									.gallery--docs
										.gallery__items
											.gallery__item
												a.item__pic(href="../images/diploms-1.png", data-lightbox="diploms")
													img.img(src="../images/diploms-1.png", alt="")
											.gallery__item
												a.item__pic(href="../images/diploms-2.png", data-lightbox="diploms")
													img.img(src="../images/diploms-2.png", alt="")
						aside.blog__aside
							.slider.slider--articles
								h6.slider__title
									| Что нового
								.swiper-container
									.swiper-wrapper
										.swiper-slide
											article.article
												.article__pic
													img.img(src="../images/article-1.jpg", alt="pic", data-bg="true")
												.article__categories
													span.article__category
														| Научная деятельность
												a.link.article__title( href="news-open.html")
													| Характеристика орловской породы кур ситцевой разновидности по полиморфизму локусов
												.article__date
													| 12 декабря, 2017
										.swiper-slide
											article.article
												.article__pic
													img.img(src="../images/article-1.jpg", alt="pic", data-bg="true")
												.article__categories
													span.article__category
														| Научная деятельность
												a.link.article__title( href="news-open.html")
													| Характеристика орловской породы кур ситцевой разновидности по полиморфизму локусов
												.article__date
													| 12 декабря, 2017
										.swiper-slide
											article.article
												.article__pic
													img.img(src="../images/article-1.jpg", alt="pic", data-bg="true")
												.article__categories
													span.article__category
														| Научная деятельность
												a.link.article__title( href="news-open.html")
													| Характеристика орловской породы кур ситцевой разновидности по полиморфизму локусов
												.article__date
													| 12 декабря, 2017
										.swiper-slide
											article.article
												.article__pic
													img.img(src="../images/article-1.jpg", alt="pic", data-bg="true")
												.article__categories
													span.article__category
														| Научная деятельность
												a.link.article__title( href="news-open.html")
													| Характеристика орловской породы кур ситцевой разновидности по полиморфизму локусов
												.article__date
													| 12 декабря, 2017
									.slider__controls
										.swiper-button-prev
											svg.icon.icon--active.icon--chewron-left
												use(xlink:href="../images/sprite.svg#chewron-left")
										.swiper-pagination
										.swiper-button-next
											svg.icon.icon--active.icon--chewron-right
												use(xlink:href="../images/sprite.svg#chewron-right")
			include partials/footer.pug
