include ./mixins.pug
doctype html
html(lang="ru")
	+head('Chicken')
	body.page
		.page__body
			include partials/header.pug
			main.main.page__main
				.page__wrapper
					ul.list.breadcrumbs
						li.list__item.breadcrumbs__item
							a.link(href="news.html")
								| Новости
					h2.page__title
						| Характеристика орловской породы кур ситцевой разновидности по полиморфизму локусов
					.blog
						.blog__content
							img.img(src="../images/gallery-3.jpg", alt="pic")
							p
								|  Впервые российские популяции исчезающей орловской породы кур ситцевой разновидности охарактеризованы по полиморфизму локусов, ассоциированных с широко распространенными вирусными заболеваниями, вызываемыми вирусами болезни Марека, лейкоза птиц и птичьего гриппа. Образцы для анализа собраны в хозяйствах Федерального научного центра "Всероссийский научно-исследовательский и технологический институт птицеводства" Российской академии наук (ФНЦ ВНИТИП РАН), Всероссийского научно-исследовательского института генетики и разведения сельскохозяйственных животных (ФГБНУ ВНИИГРЖ) и Московского зоопарка. 
							p
								| Исследованные популяции различаются по частотам и спектру аллелей и генотипов локуса LEI0258. Наибольший уровень полиморфизма по микросателлитному локусу LEI0258 и аллельным вариантам гена Мх1 отмечен для популяции из ВНИИГРЖ. Анализ полиморфизма генов Mx1 (ген интерферон-индуцируе-мой гуанозинтрифосфатазы) и TVB (гены клеточных рецепторов) показал, что исследованные популяции орловских ситцевых кур не содержат Mx1 и TVB генотипов, ассоциированных с устойчивостью к вирусам птичьего гриппа (SNP в экзоне 13 гена Мх1) и лейкоза птиц (полиморфные варианты гена TVB). 
							p
								| Наиболее однородная популяция по всем изучаемым локусам - популяция из ВНИТИП. Эти данные хорошо согласуются с ранее полученными нами результатами по анализу полиморфизма мтДНК в тех же выборках. На основании совместного анализа полиморфизма ядерных и митохондриальных маркеров показано, что наиболее представительная в России популяция (около 700 особей) орловских ситцевых кур из ВНИТИП в процессе ее длительного разведения осталась практически неизменной по исследованным молекулярным маркерам и является носителем ценного аллеля 357 микросателлитного локуса LEI0258, ассоциированного с устойчивостью к болезни Марека. 
							p
								| Частота генотипа 357/357составила в этой популяции 48%. Полученные нами данные о генетическом полиморфизме локусов, ассоциированных с устойчивостью к вирусным заболеваниям в этой породе кур, свидетельствуют о необходимости принятия мер по сохранению и увеличению численности локальных групп орловских кур ситцевой разновидности с целью дальнейшего ее сохранения.
						aside.blog__aside
			include partials/footer.pug
