
.input__wrapper--tabs{
	margin-left: calc(-1*var(--page-gap));
	margin-right: calc(-1*var(--page-gap));
	max-width: initial;
	margin-bottom: 30px;
	& .input{
		display: none;
		&:checked + .input__label{
			color: var(--red_e30);
			background-color: transparent;
			& .icon{
				transform: rotate(180deg);
			}
			& + .input__content{
				display: block;
			}			
		}
		&:not(:checked) +.input__label + * + * + .input__label{
			border-top-color: transparent;
		}				
	}
	& .input__label{
		width: 100%;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		padding-left: var(--page-gap);
		padding-right: var(--page-gap);
		padding-top: 10px;
		padding-bottom: 10px;
		min-height: 40px;
		font-weight: var(--fw-semi-bold);
		cursor: pointer;
		border-radius: 2px;
		border: 1px solid;
		border-color: color(#000000 alpha(15%));
		background-color: var(--white);
	}
	& .input__content{
		width: 100%;
		color: var(--gray_555);
		display: none;
		padding-left: var(--page-gap);
		padding-right: var(--page-gap);
		padding-top: 20px;
		padding-bottom: 20px;
		font-size: 12px;
		&>*:first-child{
			margin-top: 0;
		}
	}	
	@media (--medium-viewport){
		width: 100%;
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		justify-content: center;
		flex-wrap: wrap;
		padding-top: 30px;
		padding-left: var(--page-gap);
		padding-right: var(--page-gap);		
		& .input{
			&:checked + .input__label{
				background-color: var(--white);
				border-radius: 20px;
				border: 1px solid;
				border-color: color(#000000 alpha(15%)) !important;
				order: 1;
				&>span{
					background: none;
				}
			}					
		}		
		& .input__label{
			width: auto;
			border-color: transparent;
			background-color: transparent;
			order: 1;		
			&>span{
				background: linear-gradient(to right, var(--black) 0%,var(--black) 50%,transparent 50%,transparent 100%);
				background-size: 2px 1px;
				background-position: left bottom;
				background-repeat: repeat-x;
			}
			& .icon{
				display: none;
			}
		}
		& .input__content{
			order: 2;
			padding-left: 0;
			padding-right: 0;
			font-size: 14px;
		}		
	}	
	@media (--large-viewport){
		margin-left: 0;
		margin-right: 0;
		justify-content: flex-start;
		& .input{
			&:checked + .input__label{
				background-color: transparent;
				border-radius: 0;
				border: none;
				border-bottom: 3px solid;
				border-color: var(--red_e30) !important;
			}		
		}		
		& .input__label{
			padding-left: 0;
			padding-right: 0;
			border-bottom: 3px solid;
			border-color: transparent;			
			&:not(:last-child){
				margin-right: 30px;
			}
			&>span{
				background: none;
			}
		}
		& .input__content{
			margin-top: -1px;
			padding-left: 0;
			padding-right: 0;
			border-top: 1px solid;
			border-color: color(#000000 alpha(15%));			
		}		
	}	
}

