
.slider--blog-gallery-thumbs{
	& .swiper-slide{
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		border-radius: var(--img-border-rad);
		max-width: 90px;
		margin-bottom: 10px;
		&::before{
			content: '';
			display: inline-block;
			padding-top: 72%;
		}
		&.swiper-slide-active{
			box-shadow: inset 0 0 0 3px var(--red_e30);
			z-index: 1;
			&::after{
				content: '';
				position: absolute;
				z-index: 2;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-color: color(#000000 alpha(35%));
			}
		}		
	}
}

