
.header__content{
	background-color: var(--white);
	margin-left: calc(-1*var(--page-gap));
	margin-right: calc(-1*var(--page-gap));
	border-radius: var(--box-rad);
	box-shadow: 0 8px 24px 0 color(#000000 alpha(35%));
	position: relative;
	max-width: initial;
}

