
.header__content{
	position: relative;

	height: 120px;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: center;
	margin-left: calc(-1*var(--page-gap));
	margin-right: calc(-1*var(--page-gap));
	max-width: initial;
	@media (--medium-viewport){
					
	}
	@media (--large-viewport){
		height: 120px;
		border-radius: var(--box-rad);
		box-shadow: 0 8px 24px 0 color(#000000 alpha(35%));
		
	}	
}

