
.slider--front-pics{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: stretch;
	justify-content: center;
	& .swiper-container{
		width: 100%;
	}
	& .swiper-slide{
		position: relative;
		z-index: 1;
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		&::after{
			content: '';
			display: block;
			position: absolute;
			z-index: 2;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: color(#000000 alpha(20%));
		}
	}
	& .slider__img{

	}			
}

/*safari fix*/
.slider--front-pics .swiper-container:not(:root:root) {
	display: flex;
	align-items: stretch;
}

.slider--front-pics .swiper-wrapper:not(:root:root) {
	height: auto;
}

.slider--front-pics .swiper-slide:not(:root:root) {
	height: auto;
}