
:root{
	/*Variables*/
	--wrapper-max: 1040px; 
	--page-gap: 15px; 
	--scrollbar-width:  0px;
	--anim-dur:  0.4s;
	--box-rad:  6px;
	--aside-max-width:  320px;
	--blog-gap:  40px;
	--img-border-rad:  4px;

	/*Colors*/
	--black: #000000;
	--white: #ffffff;
	--gray_222:  #222222;
	--gray_333:  #333333;
	--gray_555:  #555555;
	--gray_666:  #666666;
	--red_e30:  #e30413;
	--brown_ae9:  #ae9a77;

	--grad-bg-top:  linear-gradient(to bottom, rgba(0,0,0,1) 0%,rgba(255,255,255,0) 100%);

	/*Fonts*/
	--fw-thin: 100;
	--fw-extra-light: 200;
	--fw-light: 300;
	--fw-normal: 400;
	--fw-medium: 500;
	--fw-semi-bold: 600;
	--fw-bold: 700;
	--fw-extra-bold: 800;
	--fw-black: 900;	
}


@custom-media --medium-viewport (width > 639px);
@custom-media --large-viewport (width > 1069px);

@custom-selector :--all-headers h1, h2, h3, h4, h5, h6;
@custom-selector :--table-cell td, th;

/* FONTS */

@font-face {
    font-family: Roboto;
    src: 	'../fonts/Roboto/RobotoRegular.woff',
    		'../fonts/Roboto/RobotoRegular.woff2';
    font-style: normal;
    font-weight: var(--fw-normal);
}

@font-face {
    font-family: Roboto;
    src: 	'../fonts/Roboto/RobotoBold.woff',
    		'../fonts/Roboto/RobotoBold.woff2';
    font-style: normal;
    font-weight: var(--fw-bold);
}

/*
@font-face {
    font-family: Montserrat;
    src: 	'../fonts/Montserrat/MontserratRegular.woff',
    		'../fonts/Montserrat/MontserratRegular.woff2';
    font-style: normal;
    font-weight: var(--fw-normal);
}

@font-face {
    font-family: Montserrat;
    src: 	'../fonts/Montserrat/MontserratMedium.woff',
    		'../fonts/Montserrat/MontserratMedium.woff2';
    font-style: normal;
    font-weight: var(--fw-medium);
}

@font-face {
    font-family: Montserrat;
    src: 	'../fonts/Montserrat/MontserratBold.woff',
    		'../fonts/Montserrat/MontserratBold.woff2';
    font-style: normal;
    font-weight: var(--fw-bold);
}

@font-face {
    font-family: Montserrat;
    src: 	'../fonts/Montserrat/MontserratLight.woff',
    		'../fonts/Montserrat/MontserratLight.woff2';
    font-style: normal;
    font-weight: var(--fw-light);
}

@font-face {
    font-family: Montserrat;
    src: 	'../fonts/Montserrat/MontserratSemibold.woff',
    		'../fonts/Montserrat/MontserratSemibold.woff2';
    font-style: normal;
    font-weight: var(--fw-semibold);
}
*/

/* OTHER */

*{
	box-sizing: border-box;
	max-width: 100%;
	word-break: break-word;
	&:matches(:active,:focus){
		
	}
	&:visited{
		
	}
}

html,
body{
	width: 100%;
	min-height: 100%;
	margin:  0;
	padding: 0;
	font-family: Montserrat, sans-serif;
	font-size: 16px;
	color: var(--gray_333);
	font-weight: var(--fw-normal);
}

a{
	color: currentcolor;
	&:not([class]):hover{
		color: var(--red_e30);
	}
}

img{
	max-width: 100%;
}

@supports(object-fit: contain){
	img{
		object-fit: contain;
	}
}

:--all-headers{
	font-weight: var(--fw-semi-bold);
}

h1{
	font-size: 36px;	
	@media (--medium-viewport){
		font-size: 42px;
	}
	@media (--large-viewport){
		font-size: 48px;
	}	
}
h2{
	font-size: 24px;	
	@media (--medium-viewport){
		font-size: 32px;
	}
	@media (--large-viewport){
		font-size: 36px;
	}	
}
h3{
	font-size: 18px;	
	@media (--medium-viewport){
		font-size: 32px;
	}
	@media (--large-viewport){
		font-size: 30px;
	}	
}
h4{
	font-size: 18px;	
	@media (--medium-viewport){
		font-size: 24px;
	}
	@media (--large-viewport){
		font-size: 30px;
	}	
}
h5{
	font-size: 18px;
	@media (--medium-viewport){
		font-size: 20px;
	}
	@media (--large-viewport){
		font-size: 22px;
	}	
}
h6{
	font-size: 14px;
	@media (--medium-viewport){
		font-size: 18px;
	}
	@media (--large-viewport){
		font-size: 18px;
	}	
}

.lightbox .lb-image{
	max-width: none;
}