
.gallery--blog{
	margin-bottom: 20px;
	max-width: 680px;
	margin-left: auto;
	margin-right: auto;
	@media (--medium-viewport){
					
	}
	@media (--large-viewport){
		max-width: none;
		margin-left: 0;
		margin-right: 0;		
	}		
}

