
.page__wrapper{
	margin-left: auto;
	margin-right: auto;
	padding-left: var(--page-gap);
	padding-right: var(--page-gap);
	width: 100%;
	max-width: calc( var(--wrapper-max) + var(--page-gap)*2 );
	@media (--medium-viewport){

	}

	@media (--large-viewport) {

	}
}



