
.page__footer{
	width: 100%;
	font-size: 10px;
	color: var(--gray_666);
	text-align: center;
	padding-top: 40px;
	padding-bottom: 40px;
	border-top: 1px solid;
	border-color: color(#000000 alpha(15%));
	line-height: 1.5;
	& .page__wrapper{
		width: 100%;
	}
	@media (--medium-viewport){
		font-size: 12px;
		line-height: 1.5;					
	}

	@media (--large-viewport){
		text-align: left;
		padding-top: 95px;
		background-color: var(--white);
		& .page__wrapper{
			display: flex;
			flex-direction: row;
			align-items: flex-start;
			justify-content: flex-start;
		}		
	}
}

