
.header__bottom{
	background: var(--brown_ae9);
	padding-left: var(--page-gap);
	padding-right: var(--page-gap);
	display: flex;
	flex-direction: row;
	align-items: stretch;
	justify-content: flex-start;		
	flex-grow: 1;	
	max-height: 50px;
	position: relative;
	z-index: 1;
	& > *{
		position: relative;
		z-index: 2;
	}
	@media (--medium-viewport){
					
	}
	@media (--large-viewport){
		background: var(--brown_ae9);
		position: static;
		border-bottom-left-radius: var(--box-rad);	
		border-bottom-right-radius: var(--box-rad);
		max-height: 60px;
		justify-content: space-between;	
		&::after{
			display: none;		
		}			
	}			
}
