
.gallery--main{
	& .gallery__items{
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
	}
	& .gallery__item{
		flex-direction: column;
		& .item__content{

		}		
		& .item__pic{
			margin-bottom: 10px;
		}		
		& .item__wrapper{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			display: flex;
			align-items: flex-end;
			justify-content: flex-end;
			padding: 25px;
			color: var(--white);
		}						
	}
	@media (--medium-viewport){
		& .gallery__item{
			flex-direction: row;
			& .item__pic{
				margin-right: 40px;
				margin-bottom: 0;
			}		
			& .item__content{
				max-width: 320px;
			}			
		}		
	}
	@media (--large-viewport){
		
	}	
}

